header{background-color: rgb(0, 0, 128); width: 100%; height: 100px}
#Twilight{background-color: #9999FF; color: #FFFF99;}
#Foto1{background-color: #9966FF;}
#cover1{height: 200px;}
#Nemesis{background-color: #9933FF; color: #FFCC99;}
#Foto2{background-color: #9900FF;}
#cover2{height: 200px;}
#Inis{background-color: #6699FF; color: #FFFF66;}
#Foto3{background-color: #6666FF;}
#cover3{height: 200px;}
#Gloomhaven{background-color: #6633FF; color: #FFCC66;}
#Foto4{background-color: #6600FF;}
#cover4{height: 200px;}
#Argent{background-color: #3399FF; color: #FFFF33;}
#Foto5{background-color: #3366FF;}
#cover5{height: 200px;}
#Spirit{background-color: #3333FF; color: #FFCC33;}
#Foto6{background-color: #3300FF;}
#cover6{height: 200px;}
#Kingdom{background-color: #0099FF; color: #FFFF00;}
#Foto7{background-color: #0066FF;;}
#cover7{height: 200px;}
#Decrypto{background-color: #0033FF; color: #FFCC00;}
#Foto8{background-color: #0000FF;}
#cover8{height: 200px;}
footer{background-color: rgb(25, 25, 112); width: 100%; height: 100px}
